<app-main-header></app-main-header>
<main>
    <button type="button" routerLink="../../editrecipe">Edit Recipe</button>
    <div class="recipe-outer-wrapper">
        <h2>{{recipe.Name}}</h2>
        <img class="recipe-image" src="../../assets/placeholders/loading.gif" [hidden]="recipe.ImageLoaded">
        <img class="recipe-image" [src]=recipe.ImagePath (load)="recipe.ImageLoaded=true" onError="this.src='assets/placeholders/no_photo_1x.jpg'" [hidden]="!recipe.ImageLoaded">
        <div class="recipe-mid-wrapper">
            <div class="description-outer">
                <h2>Description</h2>
                <p class="description">
                    {{recipe.Description}}
                </p>
            </div>
            <div class="time-outer">
                <div class="prep-wrapper">
                    <h2>Prep Time:</h2>
                    <span class="preptime">
                        <p>
                            <span [hidden]="recipe.PrepTimeH == 0">
                                <span *ngIf="recipe.PrepTimeH != 0">{{recipe.PrepTimeH}}</span>
                                <span *ngIf="recipe.PrepTimeH == 0"></span>
                                <span *ngIf="recipe.PrepTimeH == 1"> hour </span>
                                <span *ngIf="recipe.PrepTimeH > 1 || recipe.PrepTimeH < 1"> hours </span>
                                <br>
                            </span>

                            <span [hidden]="recipe.PrepTimeM == 0">
                                <span *ngIf="recipe.PrepTimeM != 0">{{recipe.PrepTimeM}}</span>
                                <span *ngIf="recipe.PrepTimeM == 0"></span>
                                <span *ngIf="recipe.PrepTimeM == 1"> minute </span>
                                <span *ngIf="recipe.PrepTimeM > 1 || recipe.PrepTimeM < 1"> minutes </span>
                            </span>
                        </p>
                    </span>
                </div>
                <div class="cook-wrapper">
                    <h2>Cook Time:</h2>
                    <span class="cooktime">
                        <p>
                            <span [hidden]="recipe.CookTimeH == 0">
                                <span *ngIf="recipe.CookTimeH != 0">{{recipe.CookTimeH}}</span>
                                <span *ngIf="recipe.CookTimeH == 1"> hour </span>
                                <span *ngIf="recipe.CookTimeH > 1 || recipe.CookTimeH < 1"> hours </span>
                                <br>
                            </span>

                            <span [hidden]="recipe.CookTimeM == 0">
                                <span *ngIf="recipe.CookTimeM != 0">{{recipe.CookTimeM}}</span>
                                <span *ngIf="recipe.CookTimeM == 1"> minute </span>
                                <span *ngIf="recipe.CookTimeM > 1 || recipe.CookTimeM < 1"> minutes </span>
                            </span>
                        </p>
                    </span>
                </div>
            </div>
        </div>
        <div class="recipe-bottom-wrapper">
            <div class="ingredients bot-inner">
                <h2>Ingredients</h2>
                <div class="in-table-wrapper">
                    <table>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Ingredient</th>

                        <tbody>
                            <tr *ngFor="let ingredient of recipe.Ingredients">
                                <td>
                                    <p>{{ingredient.Quantity}}</p>
                                </td>
                                <td>
                                    <p>{{ingredient.Unit}}</p>
                                </td>
                                <td>
                                    <p>{{ingredient.Contents}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="step-tip-wrapper">
                <div class="steps bot-inner">
                    <h2>Steps</h2>
                    <ul>
                        <li *ngFor="let step of recipe.Steps">
                            <p>{{step.Contents}}</p>

                            <ul class="sub-wrapper">
                                <div *ngFor="let subStep of recipe.SubSteps">
                                    <li *ngIf="checkForSubItem(subStep.LocalStepID, step.LocalStepID)">
                                        <p>{{subStep.Contents}}</p>
                                    </li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tips bot-inner">
                    <h2>Tips</h2>
                    <ul>
                        <li *ngFor="let tip of recipe.Tips">
                            <p>{{tip.Contents}}</p>

                            <ul class="sub-wrapper">
                                <div *ngFor="let subtip of recipe.SubTips">
                                    <li *ngIf="checkForSubItem(subtip.LocalTipID, tip.LocalTipID)">
                                        <p>{{subtip.Contents}}</p>
                                    </li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="additional-photos">
            <h2>Additional Photos</h2>
            <div class="photo-inner">
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
            </div>
        </div>
    </div>
</main>