//mobile first

@import '../../sass/base/variables';

.recipe-outer-wrapper {
    display: grid;
    grid-template-rows: repeat(5 auto);

    margin: 0 1em;

    h2 {
        font-size: 2.5em;
        text-align: center;
    }

    .recipe-image {
        height: 180px;
        margin: 0 auto;
    }

    .description-outer {

        h2 {
            font-size: 2em;
        }

        p {
            font-size: 1.5em;
            line-height: 95%;
        }

        height: min-content;

    }

    .recipe-mid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: .5em;
    }

}

.time-outer {

    h2 {
        font-size: 2em;
        margin-bottom: .5em;
    }

    .preptime, .cooktime {
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;

        p {
            margin: 0;
        }
    }

}

.recipe-bottom-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5em;
}

.bot-inner {
    display: grid;
    grid-template-rows: auto 2fr;
    align-items: center;

    h2 {
        margin-bottom: .5em;
        text-align: center;
    }

    ul {
        padding-left: 10%;
        margin-top: 0;
        font-size: 1.5em;
    }

}

.additional-photos {
    .photo-inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, 75px);
        grid-column-gap: .5em;

        img {
            height: 75px;
            margin-bottom: .5em;
        }
    }
}

