<app-main-header></app-main-header>
<main>
    <div class="recipe-outer-wrapper">
        <h2>Recipe Title</h2>
        <img class="recipe-image" src="../../assets/placeholders/recipeplaceholder.jpg">
        <div class="recipe-mid-wrapper">
            <div class="description-outer">
                <h2>Description</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim mi, vulputate nec sapien non, luctus convallis magna. Quisque blandit viverra consectetur. Donec placerat neque nulla, eu accumsan sapien vulputate quis. Suspendisse egestas ut libero id imperdiet. Sed vulputate sed massa non gravida. Suspendisse potenti. Integer nibh quam, vestibulum eget metus et, accumsan ullamcorper mauris. Vestibulum felis metus, sollicitudin eu fermentum sed, condimentum id quam. Phasellus vulputate ex fermentum ultricies scelerisque. Sed varius purus vel turpis lobortis efficitur.</p>
            </div>
            <div class="time-outer">
                <div class="prep-wrapper">
                    <h2>Prep Time:</h2>
                    <span class="preptime"><p>1 hour 30 minutes</p></span>
                </div>
                <div class="cook-wrapper">
                    <h2>Cook Time:</h2>
                    <span class="cooktime"><p>1 hour 30 minutes</p></span>
                </div>
            </div>
        </div>
        <div class="recipe-bottom-wrapper">
            <div class="ingredients bot-inner">
                <h2>Ingredients</h2>
                <ul>
                    <li>pour breadcrumbs in bowl</li>
                    <li>dunk chicken in breadcrumbs</li>
                    <li>dunk chicken in egg milk mix</li>
                    <li>dunk chicken in breadcrumbs</li>
                    <li>dunk chicken in egg milk mix</li>
                    <li>repeat x3</li>
                </ul>
            </div>
            <div class="steps bot-inner">
                <h2>Steps</h2>
                <ul>
                        <li>pour breadcrumbs in bowl</li>
                        <li>dunk chicken in breadcrumbs</li>
                        <li>dunk chicken in egg milk mix</li>
                        <li>dunk chicken in breadcrumbs</li>
                        <li>dunk chicken in egg milk mix</li>
                        <li>repeat x3</li>
                    </ul>
            </div>
            <div class="tips bot-inner">
                <h2>Tips</h2>
                <ul>
                        <li>pour breadcrumbs in bowl</li>
                        <li>dunk chicken in breadcrumbs</li>
                        <li>dunk chicken in egg milk mix</li>
                        <li>dunk chicken in breadcrumbs</li>
                        <li>dunk chicken in egg milk mix</li>
                        <li>repeat x3</li>
                    </ul>
            </div>
        </div>
        <div class="additional-photos">
            <h2>Additional Photos</h2>
            <div class="photo-inner">
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
                <div class="photo">
                    <img title="Photo" src="../../assets/placeholders/recipeplaceholder.jpg">
                </div>
            </div>
        </div>
    </div>
</main>