/* You can add global styles to this file, and also import other style files */

$bgcolor: beige;

body {
    background-color: $bgcolor;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

header {
    background-color: $bgcolor;
}

@media screen and (min-width: 600px)
{
    body {
        margin: 0 auto;
        width: 75%;
    }
}
