<app-main-header></app-main-header>

<div class="container">

    <h2>Reset Password</h2>

    <form
        method="POST"
        (ngSubmit)="submit()"
        #forgotPasswordForm = "ngForm">

        <div class="form-inner">
            <div class="section">
                <label for="newPassword">New Password: </label>
                <input
                    class="input"
                    type="password"
                    id="newPassword"
                    name="newPassword"
                    [(ngModel)]="user.Password"
                    placeholder="New Password"
                    required>
            </div>

            <div class="section">
                <label for="confirmPassword">Confirm Password: </label>
                <input
                [(ngModel)]="confirmPasswordRef"
                    [ngClass]="{ 'invalid': (confirmPassword.value !== user.Password) && confirmPassword.touched }"
                    class="confirmPassword"
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Confirm Password"
                    #confirmPassword="ngModel"
                    required>
            </div>

            <div *ngIf="(confirmPassword.value !== user.Password) && confirmPassword.touched" class="alertbox">
                <p>Passwords do not match</p>
            </div>

            <div *ngIf="this.error">
                <span class="errorText">{{ errorText }}</span>
            </div>

            <button type="submit" class="materialButton">Submit</button>
        </div>

    </form>
</div>