@import '../../sass/components/material-button';
@import '../../sass/components/material-textinput';
@import '../../sass/components/alertbox';

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.form-inner {
    display: grid;
}

h2 {
    font-size: 4em;
}

label {
    font-weight: bold;
    font-size: 2.5em;
}

input {
    font-size: 2em;
}

.section {
    display: grid;
    margin-bottom: 5%;
}

.material-button {
    min-width: 200%;
}

.errorText {
    color: red;
    font-size: 2em;
}

.alertbox {
    margin-bottom: 5%;
}