@import 'src/sass/base/variables';
@import 'src/sass/components/arrows';

main {
    margin-top: .8em;

    h2 {
        font-size: 2.5em;
        text-align: center;
        margin: 0;
    }
}

table {
    width: 100%;
    th {
        font-size: 2em;
        font-weight: bolder;
    }

    th, td {
        padding: 10px;
    }

    th:last-child, td:last-child {
        padding-right: 0;

    }

    tr:hover {
        background-color: rgb(170, 170, 148);
    }
}

table, th, tr, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}

p {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
}

img {
    margin: 0 auto;
    max-height: 80px;
}

a {
    text-decoration: none;
    color: black;
}
