<app-main-header></app-main-header>

<main>
    <!-- {{diagnostic}} -->
    <h2>{{title | uppercase}}</h2>
    <div class="table-wrapper">
        <table>
            <thead>
                <th>Image</th>
                <th (click)="orderByField='Name';reverseSort = !reverseSort">
                    Recipe Name
                    <span *ngIf="orderByField != 'Name' || reverseSort" class="arrow-up"></span>
                    <span *ngIf="orderByField == 'Name' && !reverseSort" class="arrow-down"></span>
                </th>
                <th (click)="orderByField='PrepTime';reverseSort = !reverseSort">
                    Prep Time
                    <span *ngIf="orderByField != 'PrepTime' || reverseSort" class="arrow-up"></span>
                    <span *ngIf="orderByField == 'PrepTime' && !reverseSort" class="arrow-down"></span>
                </th>
                <th (click)="orderByField='CookTime';reverseSort = !reverseSort">
                    Cook Time
                    <span *ngIf="orderByField != 'CookTime' || reverseSort" class="arrow-up"></span>
                    <span *ngIf="orderByField == 'CookTime' && !reverseSort" class="arrow-down"></span>
                </th>
            </thead>

            <tbody *ngIf="this.loading">
                <tr>
                    <td>
                        <div class="imgSkeleton"></div>
                    </td>
                    <td>
                        <div class="nameSkeleton"></div>
                    </td>
                    <td>
                        <div class="prepSkeleton"></div>
                    </td>
                    <td>
                        <div class="cookSkeleton"></div>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="entries.length > 0">
                <tr *ngFor="let entry of entries|orderBy:orderByField:reverseSort" (click)="onSelect(entry)">
                    <td>
                        <img class="thumbnail" (click)="onSelect(entry)" src="../../assets/placeholders/loading.gif"
                        [hidden]="entry.loaded" onError="this.src='../../assets/placeholders/no_photo_1x.jpg'">
                        <img class="thumbnail" (click)="onSelect(entry)" [src]="entry.ImagePath" (load)="entry.loaded = true"
                        [hidden]="!entry.loaded" onError="this.src='../../assets/placeholders/no_photo_1x.jpg'">
                    </td>
                    <td>
                        <p>{{entry.Name}}</p>
                    </td>
                    <td>
                        <p>
                            <span [hidden]="entry.PrepTimeH == 0">
                                <span *ngIf="entry.PrepTimeH != 0">{{entry.PrepTimeH}}</span>
                                <span *ngIf="entry.PrepTimeH == 0"></span>
                                <span *ngIf="entry.PrepTimeH == 1"> hour </span>
                                <span *ngIf="entry.PrepTimeH > 1"> hours </span>
                                <br>
                            </span>

                            <span [hidden]="entry.PrepTimeM == 0">
                                <span *ngIf="entry.PrepTimeM != 0">{{entry.PrepTimeM}}</span>
                                <span *ngIf="entry.PrepTimeM == 0"></span>
                                <span *ngIf="entry.PrepTimeM == 1"> minute </span>
                                <span *ngIf="entry.PrepTimeM > 1"> minutes </span>
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span [hidden]="entry.CookTimeH == 0">
                                <span *ngIf="entry.CookTimeH != 0">{{entry.CookTimeH}}</span>
                                <span *ngIf="entry.CookTimeH == 1"> hour </span>
                                <span *ngIf="entry.CookTimeH > 1"> hours </span>
                                <br>
                            </span>

                            <span [hidden]="entry.CookTimeM == 0">
                                <span *ngIf="entry.CookTimeM != 0">{{entry.CookTimeM}}</span>
                                <span *ngIf="entry.CookTimeM == 1"> minute </span>
                                <span *ngIf="entry.CookTimeM > 1"> minutes </span>
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 *ngIf="this.noEntries" style="margin-top: 5px;">No entries!</h2>

    </div>
</main>
