@import '../../sass/base/variables';
@import '../../sass/components/material-button';
@import '../../sass/components/material-textinput';
@import '../../sass//components/alertbox';

// OH MY GOODNESS youve got to refactor

.materialButton {
    margin-top: .5em;
}

.timealert {
    margin-top: 5px;
    grid-column: 1 / 3;
    height: 60px;
}

.quantityAlert {
    font-size: 1.3em;
    margin-top: 5px;
}

.unitAlert {
    font-size: 1.3em;
    margin-top: 5px;
}

.categoryAlert {
    font-size: 1.4em;
}

.form-outer-wrapper {
    margin: 2em;
    label {
        font-size: 2.5em;
        font-weight: bold;
    }
}

.form-inner-wrapper {
    display: grid;
    grid-row-gap: 1em;
}

.main-details {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-row-gap: 1em;

    textarea {
        height: 5em;
        font-family: initial;
        text-indent: 5px;
    }

    input, textarea {
        font-size: 2em;
    }

    img {
        max-height: 16em;
    }

    p {
        font-size: 1.5em;
        margin: 0;
    }

    select {
        font-size: 1.5em;
    }

}

.time-entry-wrapper {
    h2 {
        font-size: 2em;
        width: min-content;
    }
}

.time-entry-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .num-input {
        max-width: 30%;
        background-color: $mainBG;
        border: none;
        border-bottom: 1px black solid;
        margin-top: .5em;
        font-size: 1.2em;
    }

    p {
        display: inline;
        font-size: 2em;
    }

}

.ingredient-entry-wrapper {
    table {
        font-size: 1.6em;
        text-align: left;
        border-spacing: .5em;

    }

    input[type=number] {
        background-color: $mainBG;
        border: none;
        border-bottom: 1px solid black;
        width: 80%;
    }

    td {
        width: 33%;
    }

    input[type=text] {
        width: 100%;
    }

    .low-opacity {
        opacity: .4;
    }

    .but-container {
        display: flex;
        justify-content: flex-end;
        margin-right: .5em;
        // button {
        //     max-height: 15px;
        // }
    }

}

.step-entry-wrapper {
    ul {
        padding-left: 10px;
    }

    li {
        margin-top: .5em;
        input {
            width: 80%;
            font-size: 1.5em;
        }
    }

    button {
        margin-left: 1em;
    }
}

.tip-entry-wrapper {
    ul {
        padding-left: 10px;
    }

    li {
        margin-top: .5em;
        input {
            width: 80%;
            font-size: 1.5em;
        }
    }

    button {
        margin-left: 1em;
    }

}

.additional-photo-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    grid-column-gap: .5em;

    .inside {
        margin-top: 1em;
    }

    img {
        max-width: 100%;
    }

}

.progress {
    height: 20px;
    background-color: black;
    color: white;
}

.progress-bar {
    height: 20px;
    background-color: red;
}

@media screen and (min-width: $desktop-width)
{

}