<app-main-header></app-main-header>

<div class="form-outer-wrapper">
    <!-- TODO: Remove -->
    <!-- {{diagnostic}} -->
    <form (ngSubmit)="onSubmit()" #entryForm="ngForm">

        <div class="form-inner-wrapper">
            <div class="main-details">

                <label for="name">Recipe Name: </label>
                <input
                class="textinput" type="text" id="name" name="Name"
                [(ngModel)]='model.Name' placeholder="Name of Recipe" required
                #name="ngModel">
                <div [hidden]="name.valid || name.pristine && name.untouched" class="alertbox">
                    Name is required!
                </div>

                <label for="category">Category: </label>
                <select [(ngModel)]="model.Category" name="Category-{{model.RecipeID}}" (change)="validateCategory()">
                    <option *ngFor="let cat of categories">{{cat.title}}</option>
                </select>
                <div [hidden]="!categoryAlert" class="alertbox categoryAlert">
                    <p>Please select a valid category.</p>
                </div>

                <label for="description">Description: </label>
                <textarea id="description" name="Description"
                [(ngModel)]='model.Description' placeholder="Description of Recipe"></textarea>

                <label for="ImagePath">Main Photo: </label>
                <input #file style="display: none" type="file" id="ImagePath"
                name="Photo"
                (change)="photoPreview(file.files)">
                <button type="button" class="materialButton" (click)="file.click()">Choose Photo..</button>

                <label>Image Preview: </label>
                <img [src]="imgURL" *ngIf="imgURL">

            </div>

            <div class="time-entry-wrapper">
                <div class="time-entry-inner">

                    <label for="prep">Prep Time: </label>
                    <label for="cook">Cook Time: </label>

                    <span class="num-entry">
                        <input class="num-input" type="number" min="0" placeholder="0" id="preptimeh" name="PrepTimeH" [(ngModel)]='model.PrepTimeH' required #time="ngModel">
                        <p *ngIf="model.PrepTimeH == 1"> Hour</p>
                        <p *ngIf="model.PrepTimeH > 1 || model.PrepTimeH == 0 || model.PrepTimeH == null"> Hours</p>
                        <br>
                        <input class="num-input" type="number" min="0" placeholder="0" id="preptimem" name="PrepTimeM" [(ngModel)]='model.PrepTimeM' required #time="ngModel">
                        <p *ngIf="model.PrepTimeM == 1"> Minute</p>
                        <p *ngIf="model.PrepTimeM > 1 || model.PrepTimeM == 0 || model.PrepTimeM == null"> Minutes</p>
                    </span>

                    <span class="num-entry">
                        <input class="num-input" type="number" min="0" def placeholder="0" id="cooktimeh" name="CookTimeH" [(ngModel)]='model.CookTimeH' required #time="ngModel">
                        <p *ngIf="model.CookTimeH == 1"> Hour</p>
                        <p *ngIf="model.CookTimeH > 1 || model.CookTimeH == 0 || model.CookTimeH == null"> Hours</p>
                        <br>
                        <input class="num-input" type="number" min="0" placeholder="0" id="cooktimem" name="CookTimeM" [(ngModel)]='model.CookTimeM' required #time="ngModel">
                        <p *ngIf="model.CookTimeM == 1"> Minute</p>
                        <p *ngIf="model.CookTimeM > 1 || model.CookTimeM == 0 || model.CookTimeM == null"> Minutes</p>
                    </span>

                    <div [hidden]="!timeAlert" class="alertbox timealert">An hour and minute value is required for Prep Time and Cook Time!</div>

                </div>
            </div>

            <div class="list-entry-wrapper">
                <div class="ingredient-entry-wrapper">
                    <label>Ingredients: </label>
                    <table>

                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Ingredient</th>

                        <tr *ngFor="let ingredient of ingredientList; let i=LocalIngredientID; first as first, last as last;">

                            <td>
                                <input [(ngModel)]="ingredient.Quantity" name="Quantity-{{ingredient.LocalIngredientID}}" type="number" step=".01" min="0" placeholder="0">
                            </td>
                            <td>
                                <select #unit [(ngModel)]='ingredient.Unit' name="Unit-{{ingredient.LocalIngredientID}}" #unit="ngModel">
                                    <option *ngFor="let unit of units">{{unit}}</option>
                                </select>
                            </td>
                            <td >
                                <input #name [(ngModel)]="ingredient.Contents" name="Ingredient-{{ingredient.LocalIngredientID}}" type="text" placeholder="Ingredient">
                            </td>

                        </tr>
                        <tr *ngIf="quantityAlert || unitAlert || quantityAlert && unitAlert">
                            <td colspan="3">
                                <div [hidden]="!quantityAlert" class="alertbox quantityAlert">Quantity must be a number.</div>
                                <div [hidden]="!unitAlert" class="alertbox unitAlert">Please select a valid unit.</div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="but-container">
                                    <button class="materialButton tableButton" type="button" (click)="addIngredient()">Add Ingredient.. </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="step-entry-wrapper">
                <label>Steps: </label>
                <ul>
                    <li *ngFor="let step of stepList; let i=LocalStepID; first as first, last as last">
                        <input #stepInput placeholder="Step" type="text" [(ngModel)]="step.Contents" id={{step.LocalStepID}} name="Name-{{step.LocalStepID}}" on-focus="currentStepElement = step.LocalStepID">
                        <div>
                            <ul>
                                <div *ngFor="let subStep of subStepList">
                                    <li *ngIf="checkForSubItem(subStep.LocalStepID, step.LocalStepID)">
                                        <input placeholder="Sub-Step" type="text" [(ngModel)]="subStep.Contents" name="SubStep-{{subStep.SubStepID}}">
                                    </li>
                                </div>
                            </ul>
                        </div>

                        <div>
                            <button *ngIf="currentStepElement == step.LocalStepID" class="materialButton" type="button" (click)="addSubStep(stepInput.id)">Add Sub-Step.. </button>
                        </div>

                    </li>
                </ul>
                <button class="materialButton" type="button" (click)="addStep()">Add Step.. </button>
            </div>

            <div class="tip-entry-wrapper">
                <label>Tips: </label>
                <ul>
                    <li *ngFor="let tip of tipList; let i=LocalTipID; first as first, last as last">
                        <input #tipInput placeholder="Tip" type="text" [(ngModel)]="tip.Contents" id={{tip.LocalTipID}} name="Tip-{{tip.LocalTipID}}" on-focus="currentTipElement=tip.LocalTipID">

                        <div>
                            <ul *ngFor="let subTip of subTipList">
                                <li *ngIf="checkForSubItem(subTip.LocalTipID, tip.LocalTipID)">
                                    <input placeholder="Sub-Tip" type="text" [(ngModel)]="subTip.Contents" name="SubTip-{{subTip.SubTipID}}">
                                </li>
                            </ul>
                        </div>

                        <div>
                            <button *ngIf="currentTipElement == tip.LocalTipID" class="materialButton" type="button" (click)="addSubTip(tipInput.id)">Add Sub-Tip.. </button>
                        </div>

                    </li>
                </ul>
                <button class="materialButton" type="button" (click)="addTip()">Add Tip.. </button>
            </div>

            <div class="additional-photo-entry-wrapper">
                <label>Additional Photos: </label>
                <input
                style="display: none"
                type="file" name="additional-photos"
                (change)="additionalPhotoRender(additionalPhotos.files)"
                multiple #additionalPhotos>
                <button type="button" class="materialButton" (click)="additionalPhotos.click()">
                    Choose Photos..
                </button>

                <div class="additional-photo-grid">
                    <div class="inside" *ngFor="let image of additionalPhotoPreview">
                        <img [src]="image">
                    </div>
                </div>

            </div>

            <div [hidden]="!globalAlert" class="alertbox globalAlert">Please fix errors then submit again.</div>
            <button type="submit" [disabled]="!entryForm.valid" class="materialButton">Submit</button>
            <button type="button" (click)="showModel()" class="materialButton">Show Model</button>
            <button type="button" (click)="clearEmptyElements()" class="materialButton">Clear</button>
            <button type="button" (click)="validateModel()" class="materialButton">Validate</button>

            <div *ngIf="this.storageService.loading || this.localLoading">
                <app-loading-screen [progress$]="this.storageService.uploadPercent$" [Image]="this.Image">
                </app-loading-screen>
             </div>
        </div>
    </form>
</div>
