// mobile-first

header {

    background-color: grey;
    height: 50px;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,.3);
    position: sticky;
    top: 0;

    .title {

        width: min-content;

        h2 {
            font-size: 1.75em;
            margin-top: 0;
            color: white;
            margin-left: .5em;
            margin-bottom: 0;
        }
    }

}

.head-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account {
    max-height: 48px;

    img {
        margin-right: .5em;
        max-height: inherit;
    }

}

.searchbox {

    background-color: white;
    height: 2.5em;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    display: flex;
    width: 40%;

    input {
        align-self: center;
        margin: 0 auto;
        height: 60%;
        width: 95%;
        border: none;
    }

}

@media screen and (min-width: 600px)
{
    header {
        background-color: beige;
        display: block;
        margin: 0 auto;
        width: inherit;
        height: 100%;
        box-shadow: none;

        padding-bottom: 1em;
        border-bottom: 5px dotted black;

        position: sticky;
        top: 0;

        .head-outer {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;

            .title {
                margin: 0;
                width: min-content;

                h2 {
                    align-self: center;
                    margin-top: 25px;
                    line-height: 90%;
                    font-size: 3.75em;
                    color: initial;
                }
            }
        }
    }

    header {
        .account {
            justify-self: end;
            margin-top: 10px;
            max-height: 100px;
            img {
                height: inherit;
            }
        }
    }

    .searchbox {
        width: 70%;
        height: 4em;
        margin-top: 10px;
        align-self: center;
        justify-self: center;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
        display: flex;

        input {
            width: 95%;
            height: 60%;
            margin: 0 auto;
            align-self: center;
            vertical-align: middle;
            border: none;
        }
    }
}
