// mobile-first

header {

    background-color: grey;
    height: 25px;

    .title {
        h2 {
            font-size: 1.75em;
            margin-top: 0;
            color: white;
            margin-left: .5em;
        }
    }

    .searchbox, .account {
        display: none;
    }

}

@media screen and (min-width: 600px)
{
    header {
        background-color: beige;
        display: block;
        margin: 0 auto;
        width: inherit;
        height: 100%;

        padding-bottom: 1em;
        border-bottom: 5px dotted black;

        position: sticky;
        top: 0;

        .searchbox, .account {
            display: initial;
        }

        .head-outer {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;

            .title {
                margin: 0;
                width: min-content;

                h2 {
                    margin: 0;
                    margin-top: 10px;
                    line-height: 80%;
                    font-size: 3.75em;
                    height: min-content;
                    color: initial;
                }
            }
        }
    }

    .account {
        justify-self: end;
        margin-top: 10px;
    }

    .searchbox {
        width: 70%;
        height: 4em;
        margin-top: 10px;
        align-self: center;
        justify-self: center;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
        display: flex;

        input {
            width: 95%;
            height: 60%;
            margin: 0 auto;
            align-self: center;
            border: none;
        }
    }
}
