<header>
    <div class="head-outer">
        <div class="header-item title">
            <a routerLink='' title="Home">
                <h2>
                    Mom's Cookbook
                </h2>
            </a>
        </div>
        <div class="header-item searchbox">
            <input type="search" placeholder="Search">
        </div>
        <a *ngIf="!this.currentUser" class="account" [routerLink]="['/login']">
            <div class="header-item account">
                <img src="../../assets/placeholders/accountcircle.png">
            </div>
        </a>
        <a *ngIf="this.currentUser" class="account" [routerLink]="['account/', this.currentUser.EmailAddress]">
            <div class="header-item account">
                <img src="../../assets/placeholders/accountcircle.png">
            </div>
        </a>
    </div>
</header>
