<app-main-header></app-main-header>

<div class="main-container">
    <h2 class="title">Login</h2>

    <div class="form-outer">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-inner">
                <div class="section">
                    <label for="username">Username: </label>
                    <input class="input" type="text" id="username" name="Name"
                    [(ngModel)]="model.username" placeholder="Username" required>
                </div>
                <div class="section">
                    <label for="password">Password: </label>
                    <input class="password" type="password" id="password" name="Password"
                    [(ngModel)]="model.password" placeholder="Password" required>
                </div>
                <button type="submit" class="materialButton" [disabled]=!loginForm.valid>Log In</button>
            </div>
        </form>
    </div>

</div>