@import 'src/sass/components/material-textinput';
@import 'src/sass/components/material-button';

.main-container {
    width: 75%;
    margin: 0 auto;
}

.title {
    font-size: 4.5em;
    text-align: center;
}

.form-inner {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 10px;
}

label {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    font-size: 2em;
}