// mobile first

.main-grid {
    width: 75%;
    margin: 0 auto;
}

.categories {

    margin-top: 1em;
    // display: grid;

    a {
        text-decoration: none;
        color: white;
        text-shadow: -1px 1px 1px grey;
        height: 90px;
        margin: 0;
    }

    img {
        margin-top: 1em;
        width: 100%;
        height: 90px;
    }

    .category-container {
        margin-top: 1em;
        // width: 100%;
        // height: 90px;
        // background-color: red;
        display: grid;
    }

    .bg-image {
        background-repeat: no-repeat;
        background-size: 100% 90px ;
        // display: grid;
        grid-row: 1;
        grid-column: 1;
    }

    .dark-overlay {
        background-color: rgba($color: #000000, $alpha: .75);
        widows: 100%;
        height: 90px;
        grid-row-start: 1;
        grid-column: 1;
    }

    .text {
        text-align: center;
        font-size: 2em;
        color: white;
        grid-row: 1;
        grid-column: 1;
        z-index: 1;

        h2 {
            text-shadow: -1px 1px 1px grey;
        }

    }

}

.recent-container {

    h2 {
        text-align: center;
        font-size: 2.5em;
    }

    .recent-tiles {

        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-items: center;

        img {
            margin-bottom: .5em;
        }

    }

}

@media only screen and (min-width: 600px)
{

    // Screens larger than 600px

    .main-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4em;
        margin-top: 3em;
        width: 100%;


        .categories {
            justify-self: center;
            grid-column: 2;

            .category-container {
                margin-top: 1.5em;

                img {
                    height: initial;
                }

            }

            .category-container:first-child {
                margin-top: 0;
            }

        }


        .recent-container {
            h2 {
                text-align: left;
                font-size: 3em;
                margin-top: 0;
            }

            margin-left: 4em;
        }

        .recent-tiles {
            grid-column: 3;
            display: grid;
            grid-template-columns: repeat(auto-fit, 100px);
            column-gap: 1.5em;

            .tile {
                img {
                    height: 100px;
                    // margin-right: 1.2em;
                    margin-bottom: 1em;
                    object-fit: cover;
                }
            }

        }

    }

}