<app-main-header></app-main-header>

<button type="button" routerLink=newentry>New Entry</button>

<div class="main-grid">
    <div class="categories">
        <div *ngFor="let category of categories" class="category-container">
            <a [routerLink]=category.titleL title={{category.title}} ><img src="../../assets/placeholders/placeholder.jpg"></a>
        </div>
    </div>

    <div class="recent-container">
        <h2>Recently Added</h2>
        <div class="recent-tiles">
          <div class="tile">
            <img src="../../assets/placeholders/recipeplaceholder.jpg">
          </div>
          <div class="tile">
            <img src="../../assets/placeholders/recipeplaceholder.jpg">
          </div>
          <div class="tile">
            <img src="../../assets/placeholders/recipeplaceholder.jpg">
          </div>
          <div class="tile">
            <img src="../../assets/placeholders/recipeplaceholder.jpg">
          </div>
          <div class="tile">
            <img src="../../assets/placeholders/recipeplaceholder.jpg">
          </div>
          <div class="tile">
            <img src="../../assets/placeholders/recipeplaceholder.jpg">
          </div>
        </div>
    </div>
</div>