$overlayOpacity: .6;

.main-grid {
    width: 75%;
    margin: 0 auto;
}

.category-outer {

    display: grid;
    grid-row-gap: 1.2em;

    .categories {
        min-height: 90px;
        background-color: red;
    }

    a {
        margin: 0;
        color: white;
        text-decoration: none;
        text-shadow: -1px 1px 1px grey;
    }

    .category-container {
        display: grid;
        min-height: 90px;
    }

    .bg-image {
        background-repeat: no-repeat;
        background-size: 100% 90px ;
        grid-row: 1;
        grid-column: 1;
    }

    .text {

        display: flex;
        align-items: center;
        justify-content: center;

        grid-row: 1;
        grid-column: 1;
        z-index: 1;

        font-size: 2em;
        color: white;

        min-height: 90px;

        h2 {
            text-shadow: -1px 1px 1px grey;
            margin: 0;
        }

    }

    .dark-overlay {
        grid-row-start: 1;
        grid-column: 1;
        background-color: rgba($color: #000000, $alpha: $overlayOpacity);
    }

}

.recent-container {

    h2 {
        text-align: center;
        font-size: 2.5em;
    }

    .recent-tiles {

        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-items: center;

        img {
            margin-bottom: .5em;
        }

    }

}

@media only screen and (min-width: 600px) {

    // Screens larger than 600px

    .main-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4em;
        margin-top: 3em;
        width: 100%;


        .categories {
            justify-self: center;
            grid-column: 2;

            .category-container {
                margin-top: 1.5em;

                img {
                    height: initial;
                }

            }

            .category-container:first-child {
                margin-top: 0;
            }

        }


        .recent-container {
            h2 {
                text-align: left;
                font-size: 3em;
                margin-top: 0;
            }

            margin-left: 4em;
        }

        .recent-tiles {
            grid-column: 3;
            display: grid;
            grid-template-columns: repeat(auto-fit, 100px);
            column-gap: 1.5em;

            .tile {
                img {
                    height: 100px;
                    margin-bottom: 1em;
                    object-fit: cover;
                }
            }

        }

    }
}