<app-main-header></app-main-header>

<div class="main-container">
    <h2 *ngIf="!toggleCreateAccount" class="title">Login</h2>
    <h2 *ngIf="toggleCreateAccount" class="title">Create Account</h2>

    <div class="form-outer">
        <form
            *ngIf="!toggleCreateAccount"
            method="POST"
            (ngSubmit)="onSubmit()"
            #loginForm="ngForm" >

            <div class="form-inner">
                <div class="section">
                    <label for="EmailAddress">Email Address: </label>
                    <input class="input" type="text" id="EmailAddress" name="Name"
                    [(ngModel)]="model.EmailAddress" placeholder="Email Address" required>
                </div>
                <div class="section">
                    <label for="Password">Password: </label>
                    <input class="Password" type="Password" id="Password" name="Password"
                    [(ngModel)]="model.Password" placeholder="Password" required>
                </div>

                <div *ngIf="this.error" class="section errorContainer">
                    <span class="errorText">{{ errorText }}</span>
                </div>

                <button type="submit" class="materialButton" [disabled]=!loginForm.valid>Log In</button>
                <div class="createAccountText">
                    <span (click)="toggleCreateAccount = true">Create Account</span>
                </div>
            </div>
        </form>

        <form
            *ngIf="toggleCreateAccount"
            method="POST"
            (ngSubmit)="onCreateAccount()"
            #createAccountForm="ngForm">

            <div class="form-inner">
                <div class="section">
                    <label for="EmailAddress">Email Address: </label>
                    <input
                        class="input"
                        type="text"
                        id="EmailAddress"
                        name="Name"
                        [(ngModel)]="newAccount.EmailAddress"
                        placeholder="Email Address"
                        required>
                </div>
                <div class="section">
                    <label for="password">Password: </label>
                    <input
                        class="password"
                        type="password"
                        id="password"
                        name="Password"
                        [(ngModel)]="newAccount.Password"
                        placeholder="Password"
                        required>
                </div>
                <div class="section">
                    <label for="confirm-password">Confirm Password: </label>
                    <input
                    [(ngModel)]="confirmPasswordRef"
                    [ngClass]="{ 'invalid': (confirmPassword.value !== newAccount.Password) && confirmPassword.touched }"
                    class="password"
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    #confirmPassword="ngModel"
                    placeholder="Confirm Password"
                    required>
                </div>
                <div
                    class="alertbox"
                    *ngIf="(confirmPassword.value !== newAccount.Password) && confirmPassword.touched">
                    Passwords do not match.
                </div>
                <div class="section">
                    <label for="first-name">First Name: </label>
                    <input
                        class="nameInput"
                        type="text"
                        id="first-name"
                        name="first-name"
                        [(ngModel)]="newAccount.FirstName"
                        placeholder="Tony"
                        required>
                    <label for="last-name">Last Name: </label>
                    <input
                        class="nameInput"
                        type="text"
                        id="last-name"
                        name="last-name"
                        [(ngModel)]="newAccount.LastName"
                        placeholder="Gunk"
                        required>
                </div>
                <div class="radioSection">
                    <label for="role">Role: <br></label>
                    <input
                        type="radio"
                        name="role"
                        id="User"
                        value="User"
                        [(ngModel)]="newAccount.Role">
                    <label class="radioLabel" for="User">User</label>
                    <input
                        type="radio"
                        name="role"
                        id="Admin"
                        value="Admin"
                        (click)="adminAlert()"
                        [(ngModel)]="newAccount.Role">
                    <label class="radioLabel" for="Admin">Admin</label>
                </div>

                <div *ngIf="this.error" class="section errorContainer">
                    <span class="errorText">{{ errorType }}</span>
                </div>
                <div class="alertbox" [hidden]="!alert">Please Correct Errors</div>
                <button
                    type="submit"
                    class="materialButton"
                    [disabled]=!createAccountForm.valid>
                    Create Account
                </button>

                <div class="loginText">
                    <span (click)="toggleCreateAccount = false">Login</span>
                </div>

            </div>

        </form>

    </div>

</div>

<div *ngIf="this.loading">
    <app-loading-screen></app-loading-screen>
</div>