@import 'src/sass/components/material-textinput';
@import 'src/sass/components/material-button';
@import 'src/sass/components/alertbox';

.main-container {
    width: 75%;
    margin: 0 auto;
}

.title {
    font-size: 4.5em;
    text-align: center;
}

.form-inner {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 10px;
}

label {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    font-size: 2em;
}

.layoutLink, .loginText {

    span {
        cursor: pointer;
    }

    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    color: blue;
    margin-top: 1em;
}

.radioSection {
    display: inline-block;
    margin-bottom: 1em;

    .radioLabel {
        font-size: 2em;
        font-weight: 300;
        margin-right: 2em;
    }

}

.invalid {
    border-bottom: 1px solid red !important;
}

.alertbox {
    margin-bottom: .5em;
}

.errorText {
    color: red;
    font-size: 2em;
}

.form-inner {
    margin-bottom: 1em;
}
