@import 'variables';

body {
    background-color: $mainBG;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

@media screen and (min-width: 600px)
{
    body {
        margin: 0 auto;
        width: 75%;
    }
}